.bg-color {
    background-color: #272525;
    /* color: #ffeaa7;
    color: #fcd770;
    color: #ffc729;
    color: #a0d468;
    color: #fffefb; */
}

.bg-nav {
    background: #fffefb;
    /* border-bottom: 2px solid #222; */

}

.logo {
    width: 42px;
    height: 42px;
}


.container-fluid {
    max-width: 1080px;
}

a {
    color: #222;

}

a:hover {
    color: #202020;
}

.btn {
    background: #ffc729;
    padding: 8px 16px;
}

.btn:hover {
    background: #fcd770;
}

section.container-fluid form {
    max-width: 1080px;
    background: #fff;
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 20px;
}

.img-form {
    padding-right: 0;
}

.img-form img {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
}

h4 {
    color: #fff;
}